@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Colors & Backgrounds
================= */

#particles-js {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.particles-js-canvas-el {
  position: fixed;
  z-index: -999;
}

/* Layout
================= */
section {
  margin-top: 1em;
  margin-bottom: 3em;
}

#table {
  margin-bottom: 3em;
}

iframe {
  margin-top: -7rem;
  padding: 0px;
}

/* Animations
================== */


/* Drawing
================== */